@import "../base/typography";
@keyframes menu-apparitions{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
#bloc-page{
    height: 1000px;
    @include tablette1{
        font-size: 12px;
    }
    @include desktop{
        font-size: 14px;
    }
}
#presentation-restaurant{
    position: relative;
    .photo-restaurant{
        border-radius: 0px;
        position: absolute;
        top: 0rem;
    }
        .presentation-restaurant{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-family: $font-logo;
            font-weight: $font-weight;
            width: 100%;
            position: absolute;
            top: 45vw;
            z-index: 2;
            margin-left: 0%;
            display: flex;
            border-radius: 25px 25px 0px 0px;
            @include backgroundmaincolor($color-light-grey);
            padding-bottom: 0%;
            padding-top: 5%;
            margin-top: 11%;
            @include desktop{
                padding-bottom: 2%;
            }
            h1{
                margin-left: 5%;
            }
            .placement-coeurs{
                position: relative;
                margin-right: 5%;
                .icone-coeur-plein{
                    background: linear-gradient($colour-primary, $colour-secondary);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 1.3rem;
                    cursor: pointer;
                    position: absolute;
                    top:0;
                    right: 0;
                    bottom: 0;
                    left:0;
                    opacity:0;
                    transition: opacity 1000ms;
                    @include desktop{
                        font-size: 130%;
                    &:hover{
                        background:linear-gradient($colour-primary, $colour-secondary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 1;
                        transition: opacity 300ms;
                    }
                    }
                    &:active{
                        background:linear-gradient($colour-primary, $colour-secondary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                        opacity: 1;
                        transition: opacity 300ms;
                    }
                }
                .icone-coeur-vide{
                    font-size: 1.3em;
                    font-weight: 200;
                    margin: 0%;
                }   
            }
        }
    }
#section-menu{
    font-family: $font-main;
    margin-top: 50%;
    border-radius:25px ;
    @include backgroundmaincolor($color-light-grey);
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .ensemble-vignettes-menu{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        align-items: center;
        margin-top: 16%;
        @include tablette1{
            align-items: center;
            font-size: 14px;
        }
        @include desktop{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: flex-start;
            margin-top: 5%;
        }
        &__entrees{
            width: 95%;
            animation: menu-apparitions 2000ms  1s backwards;
            @include mobile1{
                width:80%;
            }
            @include mobile_2{
                width: 65%;
            }
            @include tablette1{
                width:50%;
            }
            @include desktop{
                width: 30%;
            }
        }
        &__plats{
            width: 95%;
            animation: menu-apparitions 500ms 1700ms backwards;
            @include mobile1{
                width:80%;
            }
            @include mobile_2{
                width: 65%;
            }
            @include tablette1{
                width:50%;
            }
            @include desktop{
                width: 32%;
            }
        }
        &__desserts{
            width: 95%;
            animation: menu-apparitions 500ms 2200ms backwards;
            @include mobile1{
                width:80%;
            }
            @include mobile_2{
                width: 65%;
            }
            @include tablette1{
                width:50%;
            }
            @include desktop{
                width: 30%;
            }
        }
        .positionnement-titre-article{
            font-weight: $font-weight-light;
            text-align: left;
            margin-left: 3%;
            border-bottom: $colour-tertiary 2px solid;
            width: 4rem;
        }
        .vignettes-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include backgroundmaincolor($colour-white);
            border-radius: 25px;
            margin-top: 0%;
            margin-bottom: 5%;
            width: 100%;
            cursor: pointer;
            overflow-x: hidden;
            font-size: 12px;
            @include tablette1{
                font-size: 13px;
            }
            @include desktop{
            &:hover > .vignettes-menu-form-cercle{
                transform-origin: right;
                transform: translateX(0%);
                transition:  all 500ms;
                width: 20%;
            }
            &:hover .icone-validation{
                transform: rotate(0deg);
                transition: transform 500ms;
            }
            }
            &:active > .vignettes-menu-form-cercle{
                transform-origin: right;
                transform: translateX(0%);
                transition:  all 500ms;
                width: 20%;
            }
            &:active .icone-validation{
                transform: rotate(0deg);
                transition: transform 500ms;
            }
            .vignettes-menu-form-cercle{
                background-color: $colour-tertiary;
                overflow: hidden;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border: $colour-tertiary solid 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                transform: translateX(100%);
                transition: all 500ms;
                width: 0%;
            }
            .icone-validation{
                font-size: 2rem;
                visibility:visible;
                margin-bottom: 0%;
                background-color: $colour-tertiary;
                color: white;
                display: block;
                transform: rotate(360deg);
                transition: none;
            }
            .vignettes-menu-text{
                display: flex;
                flex-direction: column;
                flex-wrap: nowrap;
                justify-content:space-between;
                width: 100%;
                h3{
                    width: 85%;
                    margin-left: 5%;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    margin-bottom: 0%;
                }
                .description-menu{
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: space-between;
                    width: 100%;
                    .texte-vignette{
                        margin-left: 5%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                    .dernier-element-vignette{
                        margin-right: 5%;
                    }
                }
            }
        }
    }    
    .positionnement-bouton-menu{
        text-align: center;
        margin-top: 2%;
        margin-bottom: 5%;
        button{
            padding: 10%;
            @include shadow-main;
            &:hover{
                filter:brightness(1.2);
                @include shadow-hover;
            } 
        }
        @include desktop{
            margin: 2%;
        }
    }
      
}

    
