@import "../base/typography";
@keyframes menu-apparitions{
    0%{
        opacity: 0;
    }

    100%{
        opacity: 1;
    }
}

@keyframes loader{

}
#bloc-page
{
    height: 1000px;
}

#logo-header
{
    border-radius: 0px;
}
h2
{
    width: 100%;
}

#presentation-restaurant{
    position: relative;
    .photo-restaurant{
        border-radius: 0px;
        position: absolute;
        top: 0rem;
    }
        .presentation-restaurant{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            font-family: $font-logo;
            font-weight: $font-weight;
            width: 100%;
            position: absolute;
            top: 45vw;
            z-index: 2;
            margin-left: 0%;
            display: flex;
            border-radius: 25px 25px 0px 0px;
            @include backgroundmaincolor($color-light-grey);
            padding-bottom: 0%;
            padding-top: 5%;
            margin-top: 9%;
            h1
            {
                margin-left: 5%;
            }
            .placement-coeurs{
                position: relative;
                .icone-coeur-plein{
                    background: transparent;
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    font-size: 1.3rem;
                    cursor: pointer;
                    position: absolute;
                    top:0;
                    right: 0;
                    bottom: 0;
                    left:0;
                    
                    &:hover{
                        background:linear-gradient($colour-primary, $colour-secondary);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;
                    }
                    }
                .icone-coeur-vide{
                    font-size: 1.3em;
                    font-weight: 200;
                    margin: 0%;
                }   
            }
        }
    }

#section-menu{
    font-family: $font-main;
    margin-top: 50%;
    border-radius:25px ;
    @include backgroundmaincolor($color-light-grey);
    padding-top: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    .ensemble-vignettes-menu{
        width: 95%;
        display: flex;
        flex-direction: column;
        margin-top: 16%;
        &__entrees{
            animation: menu-apparitions 500ms ;
        }
        &__plats{
            animation: menu-apparitions 500ms 500ms backwards;
        }
        &__desserts{
            animation: menu-apparitions 500ms 1000ms backwards;
        }
        .positionnement-titre-article{
            font-weight: $font-weight-light;
        }
       
        .vignettes-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            @include backgroundmaincolor($colour-white);
            border-radius: 25px;
            margin-top: 0%;
            margin-bottom: 5%;
            width: 100%;
            cursor: pointer;
            overflow-x: hidden;

            &:hover > .vignettes-menu-form-cercle{
                transform:translateX(0%);
                width: 20%;
            }
            &:hover .icone-validation{
                transform: rotate(360deg);
            }
            .vignettes-menu-form-cercle{
                background-color: $colour-tertiary;
                width: 0%;
                overflow: hidden;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
                border: $colour-tertiary solid 2px;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-wrap: nowrap;
                transform: translateX(100%);
                transition: transform 500ms;
                transform-origin: right;
            }
            .icone-validation{
                font-size: 2rem;
                visibility:visible;
                margin-bottom: 0%;
                background-color: $colour-tertiary;
                color: white;
                display: block;
                transform: rotate(0deg);
                transition: transform 500ms;
            }
            .vignettes-menu-text{
                display: flex;
                    flex-direction: column;
                    flex-wrap: nowrap;
                    /*flex-direction: row;
                    flex-wrap: wrap;*/
                    justify-content:space-between;
                    width: 100%;

                    h3{
                        width: 100%;
                        margin-left: 5%;
                    }
                    .description-menu{
                        display: flex;
                        flex-direction: row;
                        flex-wrap: nowrap;
                        justify-content: space-between;
                        width: 100%;
                        .texte-vignette{
                            margin-left: 5%;
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                        }
                        .dernier-element-vignette{
                            margin-right: 5%;
                        }
                    }

                }


            }    
        
    }
    
}


