footer {
  width: 100%;
  background-color: #323232;
  color: #fff;
  font-family: "Roboto";
  text-decoration: none;
  padding-bottom: 2%;
  padding-top: 2%;
}
footer .logo {
  font-family: "Shrikhand";
  font-weight: 400;
  margin-left: 8%;
}
footer .texte-footer {
  margin-left: 8%;
}
footer .icon-footer {
  margin-right: 5%;
}
footer .fa-hands-helping {
  font-size: 0.65em;
  transform: rotate(-10deg);
}
footer a {
  text-decoration: none;
  text-decoration: none;
  color: #fff;
}
footer #lien-mail-contact {
  margin-left: 8%;
}

@media screen and (min-width: 651px) {
  footer .elements-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .elements-footer .texte-footer {
    width: 40%;
  }
  footer .elements-footer .texte-footer {
    order: 1;
  }
  footer .elements-footer .texte-footer:nth-of-type(1) {
    order: 3;
  }
  footer .elements-footer #lien-mail-contact {
    width: 40%;
  }
}

button {
  border-radius: 25px;
  background-color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 2.5%;
  color: #fff;
  font-family: "Roboto";
  border-style: none;
  margin-bottom: 10%;
  box-shadow: 0px 2px 2px black;
  font-size: 1rem;
}
@media screen and (min-width: 1025px) {
  button {
    font-size: 100%;
  }
}

@font-face {
  font-family: "Roboto", "Shrikhand";
}
@keyframes apparition-bloc {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes loader1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
body .load__loader {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border: #9356DC dashed 10px;
  color: #99E2D0;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: -1;
  width: 80%;
  height: 300px;
  animation: loader1 1s 2 both;
}
body .load__loader2 {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border: #FF79DA dashed 10px;
  color: #9356DC;
  position: fixed;
  top: 14%;
  right: 20%;
  z-index: -1;
  width: 60%;
  height: 230px;
  animation: loader-2 1s 250ms 2 both;
}

#bloc-page {
  animation: apparition-bloc 2s backwards;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 25px 25px 0px 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}
header .logo-header {
  margin-top: 5%;
  width: 30%;
  border-radius: 0%;
}

#section-recherche {
  font-size: 1.5rem;
  background-color: #f6f6f6;
  font-family: "Roboto";
  text-align: center;
  padding-bottom: 8%;
}
@media screen and (min-width: 1025px) {
  #section-recherche {
    font-size: 130%;
  }
}
#section-recherche .section-recherche {
  background-color: #ebebeb;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1rem;
  font-weight: 500;
}
@media screen and (min-width: 1025px) {
  #section-recherche .section-recherche {
    font-size: 100%;
  }
}
#section-recherche h1 {
  width: 80%;
  margin-left: 10%;
  font-weight: 500;
}
#section-recherche .sous-titre {
  width: 90%;
  margin-left: 5%;
  font-weight: 200;
}
#section-recherche button {
  box-shadow: 0px 7px 5px #d2d2d2;
}
#section-recherche button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 10px 10px #6c6c6c;
}
#section-recherche .presentation-entreprise {
  text-align: justify;
  font-weight: 200;
  font-style: oblique;
  font-size: 0.8rem;
}

#section-nav {
  font-family: "Roboto";
  font-weight: 900;
  margin-top: 10%;
}
#section-nav h2 {
  margin-left: 8%;
  width: 90%;
}
#section-nav .ensemble-vignettes-nav .vignette-menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border-radius: 15px;
  position: relative;
  margin-left: 10%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #f6f6f6;
  box-shadow: 0px 7px 5px #d2d2d2;
  font-size: 1rem;
}
@media screen and (min-width: 651px) {
  #section-nav .ensemble-vignettes-nav .vignette-menu-nav {
    width: 50%;
    font-size: 110%;
  }
}
@media screen and (min-width: 1025px) {
  #section-nav .ensemble-vignettes-nav .vignette-menu-nav {
    width: 50%;
    font-size: 120%;
  }
}
#section-nav .ensemble-vignettes-nav .vignette-menu-nav:hover {
  background-color: #e4d5f6;
}
#section-nav .ensemble-vignettes-nav .vignette-menu-nav:hover > .element-vignette {
  color: #9356DC;
}
#section-nav .ensemble-vignettes-nav .vignette-menu-nav .numero-vignette {
  position: absolute;
  left: -1rem;
  border-radius: 25px;
  background-color: #9356DC;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  color: #fff;
  font-size: 0.8em;
}
#section-nav .ensemble-vignettes-nav .vignette-menu-nav .element-vignette {
  margin-left: 10%;
  color: grey;
}
#section-nav .ensemble-vignettes-nav .vignette-menu-nav .texte-vignette {
  margin-left: 10%;
}

#section-principale {
  font-family: "Roboto";
  font-weight: 900;
  background-color: #f6f6f6;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}
#section-principale #ensemble-vignette-article h2 {
  margin-left: 8%;
}
#section-principale #ensemble-vignette-article .vignette-article-differentes {
  background-color: #fff;
  border-radius: 25px;
  position: relative;
  box-shadow: 0px 7px 5px #d2d2d2;
}
#section-principale #ensemble-vignette-article .vignette-article-differentes #photo-plat-restaurant {
  width: 100%;
}
#section-principale #ensemble-vignette-article .vignette-article-differentes .texte-sur-image {
  position: absolute;
  top: -2%;
  right: 5%;
  padding: 2%;
  background-color: #99E2D0;
  color: #008864;
}
#section-principale #ensemble-vignette-article figure {
  background-color: #fff;
  border-radius: 25px;
  box-shadow: 0px 7px 5px #d2d2d2;
}
#section-principale #ensemble-vignette-article figure figcaption {
  margin-left: 8%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
#section-principale #ensemble-vignette-article figure figcaption h3 {
  margin-top: 2%;
  margin-bottom: 1%;
}
#section-principale #ensemble-vignette-article figure figcaption .placement-coeurs {
  position: relative;
}
#section-principale #ensemble-vignette-article figure figcaption .placement-coeurs .icone-coeur-plein {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}
@media screen and (min-width: 1025px) {
  #section-principale #ensemble-vignette-article figure figcaption .placement-coeurs .icone-coeur-plein {
    font-size: 130%;
  }
  #section-principale #ensemble-vignette-article figure figcaption .placement-coeurs .icone-coeur-plein:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: opacity 1000ms;
  }
}
#section-principale #ensemble-vignette-article figure figcaption .placement-coeurs .icone-coeur-plein:active {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: opacity 1000ms;
}
#section-principale #ensemble-vignette-article figure figcaption .placement-coeurs .icone-coeur-vide {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0%;
}
#section-principale #ensemble-vignette-article figure figcaption .positionnement-text-vignette {
  font-weight: 400;
  width: 100%;
  margin-top: 1%;
}

@media screen and (min-width: 651px) {
  #section-principale {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  #section-principale h2 {
    margin-left: 8.5%;
    width: 90%;
  }
}
@media screen and (min-width: 651px) {
  #section-principale #ensemble-vignette-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  #section-principale #ensemble-vignette-article figure {
    width: 37%;
  }
}

@media screen and (min-width: 700px) {
  #section-principale h2 {
    width: 85%;
    margin-left: 9.5%;
  }
}

@media screen and (min-width: 800px) {
  #section-principale h2 {
    width: 85%;
    margin-left: 10.5%;
  }
}

header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
  position: relative;
}
header .load__loader {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border: #9356DC dashed 10px;
  color: #99E2D0;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 0;
  width: 80%;
  height: 300px;
  animation: loader1 1s 3 both;
}
header .load__loader2 {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border: #FF79DA dashed 10px;
  color: #9356DC;
  position: fixed;
  top: 14%;
  right: 20%;
  z-index: 0;
  width: 60%;
  height: 230px;
  animation: loader-2 1s 250ms 3 both;
}
header p {
  position: relative;
  margin-bottom: 0%;
  margin-left: -32%;
  margin-top: 5%;
}
header .icone-fleche {
  color: black;
}

@font-face {
  font-family: "Roboto", "Shrikhand";
}
@keyframes menu-apparitions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#bloc-page {
  height: 1000px;
}
@media screen and (min-width: 651px) {
  #bloc-page {
    font-size: 110%;
  }
}
@media screen and (min-width: 1025px) {
  #bloc-page {
    font-size: 140%;
  }
}

#presentation-restaurant {
  position: relative;
}
#presentation-restaurant .photo-restaurant {
  border-radius: 0px;
  position: absolute;
  top: 0rem;
}
#presentation-restaurant .presentation-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand";
  font-weight: 900;
  width: 100%;
  position: absolute;
  top: 45vw;
  z-index: 2;
  margin-left: 0%;
  display: flex;
  border-radius: 25px 25px 0px 0px;
  background-color: #f6f6f6;
  padding-bottom: 0%;
  padding-top: 5%;
  margin-top: 9%;
}
@media screen and (min-width: 1025px) {
  #presentation-restaurant .presentation-restaurant {
    padding-bottom: 5%;
  }
}
#presentation-restaurant .presentation-restaurant h1 {
  margin-left: 5%;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs {
  position: relative;
  margin-right: 5%;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-plein {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 1000ms;
}
@media screen and (min-width: 1025px) {
  #presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-plein {
    font-size: 130%;
  }
  #presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-plein:hover {
    background: linear-gradient(#9356DC, #FF79DA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
    transition: opacity 300ms;
  }
}
#presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-plein:active {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
  transition: opacity 300ms;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-vide {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0%;
}

#section-menu {
  font-family: "Roboto";
  margin-top: 50%;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#section-menu .ensemble-vignettes-menu {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 16%;
}
@media screen and (min-width: 651px) {
  #section-menu .ensemble-vignettes-menu {
    align-items: center;
    width: 85%;
  }
}
@media screen and (min-width: 1025px) {
  #section-menu .ensemble-vignettes-menu {
    width: 70%;
  }
}
#section-menu .ensemble-vignettes-menu__entrees {
  animation: menu-apparitions 2000ms 1s backwards;
}
@media screen and (min-width: 651px) {
  #section-menu .ensemble-vignettes-menu__entrees {
    width: 80%;
  }
}
#section-menu .ensemble-vignettes-menu__plats {
  animation: menu-apparitions 500ms 2000ms backwards;
}
@media screen and (min-width: 651px) {
  #section-menu .ensemble-vignettes-menu__plats {
    width: 80%;
  }
}
#section-menu .ensemble-vignettes-menu__desserts {
  animation: menu-apparitions 500ms 2500ms backwards;
}
@media screen and (min-width: 651px) {
  #section-menu .ensemble-vignettes-menu__desserts {
    width: 80%;
  }
}
#section-menu .ensemble-vignettes-menu .positionnement-titre-article {
  font-weight: 300;
  text-align: left;
  margin-left: 3%;
  border-bottom: #99E2D0 2px solid;
  width: 4rem;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 0%;
  margin-bottom: 5%;
  width: 100%;
  cursor: pointer;
  overflow-x: hidden;
}
@media screen and (min-width: 1025px) {
  #section-menu .ensemble-vignettes-menu .vignettes-menu:hover > .vignettes-menu-form-cercle {
    transform-origin: right;
    transform: translateX(0%);
    transition: all 500ms;
    width: 20%;
  }
  #section-menu .ensemble-vignettes-menu .vignettes-menu:hover .icone-validation {
    transform: rotate(0deg);
    transition: transform 500ms;
  }
}
#section-menu .ensemble-vignettes-menu .vignettes-menu:active > .vignettes-menu-form-cercle {
  transform-origin: right;
  transform: translateX(0%);
  transition: all 500ms;
  width: 20%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu:active .icone-validation {
  transform: rotate(0deg);
  transition: transform 500ms;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-form-cercle {
  background-color: #99E2D0;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: #99E2D0 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateX(100%);
  transition: all 500ms;
  width: 0%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .icone-validation {
  font-size: 2rem;
  visibility: visible;
  margin-bottom: 0%;
  background-color: #99E2D0;
  color: white;
  display: block;
  transform: rotate(360deg);
  transition: none;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: space-between;
  width: 100%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text h3 {
  width: 100%;
  margin-left: 5%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text .description-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text .description-menu .texte-vignette {
  margin-left: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text .description-menu .dernier-element-vignette {
  margin-right: 5%;
}
#section-menu .ensemble-vignettes-menu .positionnement-bouton-menu {
  text-align: center;
}
#section-menu .ensemble-vignettes-menu .positionnement-bouton-menu button {
  box-shadow: 0px 7px 5px #d2d2d2;
}
#section-menu .ensemble-vignettes-menu .positionnement-bouton-menu button:hover {
  filter: brightness(1.2);
  box-shadow: 0px 10px 10px #6c6c6c;
}

footer {
  width: 100%;
  background-color: #323232;
  color: #fff;
  font-family: "Roboto";
  text-decoration: none;
  padding-bottom: 2%;
  padding-top: 2%;
}
footer .logo {
  font-family: "Shrikhand";
  font-weight: 400;
  margin-left: 8%;
}
footer .texte-footer {
  margin-left: 8%;
}
footer .icon-footer {
  margin-right: 5%;
}
footer .fa-hands-helping {
  font-size: 0.65em;
  transform: rotate(-10deg);
}
footer a {
  text-decoration: none;
  text-decoration: none;
  color: #fff;
}
footer #lien-mail-contact {
  margin-left: 8%;
}

@media screen and (min-width: 651px) {
  footer .elements-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  footer .elements-footer .texte-footer {
    width: 40%;
  }
  footer .elements-footer .texte-footer {
    order: 1;
  }
  footer .elements-footer .texte-footer:nth-of-type(1) {
    order: 3;
  }
  footer .elements-footer #lien-mail-contact {
    width: 40%;
  }
}

button {
  border-radius: 25px;
  background-color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 2.5%;
  color: #fff;
  font-family: "Roboto";
  border-style: none;
  margin-bottom: 10%;
  box-shadow: 0px 2px 2px black;
  font-size: 1rem;
}
@media screen and (min-width: 1025px) {
  button {
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
