footer {
  width: 100%;
  background-color: #323232;
  color: #fff;
  font-family: "Roboto";
  text-decoration: none;
  padding-bottom: 2%;
  padding-top: 2%;
}
footer .logo {
  font-family: "Shrikhand";
  font-weight: 400;
  margin-left: 8%;
}

.texte-footer {
  margin-left: 8%;
}

.icon-footer {
  margin-right: 5%;
}

.fa-hands-helping {
  font-size: 0.65em;
  transform: rotate(-10deg);
}

a {
  text-decoration: none;
  text-decoration: none;
  color: #fff;
}

#lien-mail-contact {
  margin-left: 8%;
}

button {
  border-radius: 25px;
  background-color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 2.5%;
  color: #fff;
  font-family: "Roboto";
  border-style: none;
  margin-bottom: 10%;
}

@font-face {
  font-family: "Roboto", "Shrikhand";
}
img {
  width: 100%;
  object-fit: contain;
  border-radius: 25px 25px 0px 0px;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
}

.logo-header {
  margin-top: 5%;
  width: 30%;
  border-radius: 0%;
}

img {
  width: 100%;
  object-fit: contain;
  border-radius: 25px 25px 0px 0px;
}

#logo-header {
  border-radius: 0px;
}

#section-recherche {
  font-size: 1.5rem;
  background-color: #f6f6f6;
  font-family: "Roboto";
  text-align: center;
  padding-bottom: 8%;
}
#section-recherche h1 {
  width: 80%;
  margin-left: 10%;
  font-weight: 900;
}
#section-recherche .sous-titre {
  width: 90%;
  margin-left: 5%;
  font-weight: 200;
}

.section-recherche {
  background-color: #ebebeb;
  padding-top: 3%;
  padding-bottom: 3%;
  font-size: 1rem;
  font-weight: 500;
}

#section-nav {
  font-family: "Roboto";
  font-weight: 900;
  margin-top: 10%;
}

h2 {
  margin-left: 8%;
  width: 90%;
}

.vignette-menu-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 80%;
  border-radius: 15px;
  position: relative;
  margin-left: 10%;
  margin-bottom: 5%;
  padding-top: 3%;
  padding-bottom: 3%;
  background-color: #f6f6f6;
  font-size: 1rem;
}
.vignette-menu-nav .numero-vignette {
  position: absolute;
  left: -1rem;
  border-radius: 25px;
  background-color: #9356DC;
  padding: 0.4rem 0.7rem 0.4rem 0.7rem;
  color: #fff;
  font-size: 0.8em;
}

.element-vignette {
  margin-left: 10%;
  color: grey;
}

.texte-vignette {
  margin-left: 10%;
}

#section-principale {
  font-family: "Roboto";
  font-weight: 900;
  background-color: #f6f6f6;
  margin-top: 10%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.vignette-article-differentes {
  background-color: #fff;
  border-radius: 25px;
  position: relative;
}

#photo-plat-restaurant {
  width: 100%;
}

.texte-sur-image {
  position: absolute;
  top: -2%;
  right: 5%;
  padding: 2%;
  background-color: #99E2D0;
  color: #008864;
}

figure {
  background-color: #fff;
  border-radius: 25px;
}
figure figcaption {
  margin-left: 8%;
  width: 85%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
figure figcaption h3 {
  margin-top: 2%;
  margin-bottom: 1%;
}
figure figcaption .placement-coeurs {
  background: transparent;
  position: relative;
}
figure figcaption .placement-coeurs .icone-coeur-plein {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
figure figcaption .placement-coeurs .icone-coeur-plein:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
figure figcaption .placement-coeurs .icone-coeur-vide {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0%;
}
figure figcaption .positionnement-text-vignette {
  font-weight: 400;
  width: 100%;
  margin-top: 1%;
}

header {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5%;
}
header p {
  position: relative;
  margin-bottom: 0%;
  margin-left: -32%;
  margin-top: 5%;
}
header .icone-fleche {
  color: black;
}

@font-face {
  font-family: "Roboto", "Shrikhand";
}
@keyframes menu-apparitions {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes encoche-aller {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(100%);
  }
}
@keyframes encoche-retour {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0%);
  }
}
@keyframes remplissage-coeur {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(0.5);
  }
  50% {
    transform: scale(1);
  }
}
@keyframes loader1 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes loader-2 {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
#bloc-page {
  height: 1000px;
}
#bloc-page .loader {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border: #9356DC dashed 10px;
  color: #99E2D0;
  position: fixed;
  top: 10%;
  right: 10%;
  z-index: 3;
  width: 80%;
  height: 300px;
  animation: loader1 1s 3 both;
}
#bloc-page .loader2 {
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-right-radius: 150px;
  border-bottom-left-radius: 150px;
  border: #FF79DA dashed 10px;
  color: #9356DC;
  position: fixed;
  top: 14%;
  right: 20%;
  z-index: 3;
  width: 60%;
  height: 230px;
  animation: loader-2 1s 250ms 3 both;
}

#logo-header {
  border-radius: 0px;
}

h2 {
  width: 100%;
}

#presentation-restaurant {
  position: relative;
}
#presentation-restaurant .photo-restaurant {
  border-radius: 0px;
  position: absolute;
  top: 0rem;
}
#presentation-restaurant .presentation-restaurant {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  font-family: "Shrikhand";
  font-weight: 900;
  width: 100%;
  position: absolute;
  top: 45vw;
  z-index: 2;
  margin-left: 0%;
  display: flex;
  border-radius: 25px 25px 0px 0px;
  background-color: #f6f6f6;
  padding-bottom: 0%;
  padding-top: 5%;
  margin-top: 9%;
}
#presentation-restaurant .presentation-restaurant h1 {
  margin-left: 5%;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs {
  position: relative;
  margin-right: 5%;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-plein {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.3rem;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-plein:hover {
  background: linear-gradient(#9356DC, #FF79DA);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 1;
}
#presentation-restaurant .presentation-restaurant .placement-coeurs .icone-coeur-vide {
  font-size: 1.3em;
  font-weight: 200;
  margin: 0%;
}

#section-menu {
  font-family: "Roboto";
  margin-top: 50%;
  border-radius: 25px;
  background-color: #f6f6f6;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}
#section-menu .ensemble-vignettes-menu {
  width: 95%;
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-top: 16%;
}
#section-menu .ensemble-vignettes-menu__entrees {
  animation: menu-apparitions 500ms;
}
#section-menu .ensemble-vignettes-menu__plats {
  animation: menu-apparitions 500ms 500ms backwards;
}
#section-menu .ensemble-vignettes-menu__desserts {
  animation: menu-apparitions 500ms 1000ms backwards;
}
#section-menu .ensemble-vignettes-menu .positionnement-titre-article {
  font-weight: 300;
  text-align: left;
  margin-left: 3%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 25px;
  margin-top: 0%;
  margin-bottom: 5%;
  width: 100%;
  cursor: pointer;
  overflow-x: hidden;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu:hover > .vignettes-menu-form-cercle {
  transform-origin: right;
  transform: translateX(0%);
  transition: all 1s;
  width: 20%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu:hover .icone-validation {
  transform: rotate(0deg);
  transition: transform 1s;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-form-cercle {
  background-color: #99E2D0;
  overflow: hidden;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  border: #99E2D0 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  transform: translateX(100%);
  transition: all 1s;
  width: 0%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .icone-validation {
  font-size: 2rem;
  visibility: visible;
  margin-bottom: 0%;
  background-color: #99E2D0;
  color: white;
  display: block;
  transform: rotate(360deg);
  transition: none;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  /*flex-direction: row;
  flex-wrap: wrap;*/
  justify-content: space-between;
  width: 100%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text h3 {
  width: 100%;
  margin-left: 5%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text .description-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text .description-menu .texte-vignette {
  margin-left: 5%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#section-menu .ensemble-vignettes-menu .vignettes-menu .vignettes-menu-text .description-menu .dernier-element-vignette {
  margin-right: 5%;
}
#section-menu .ensemble-vignettes-menu .positionnement-bouton-menu {
  text-align: center;
}

footer {
  width: 100%;
  background-color: #323232;
  color: #fff;
  font-family: "Roboto";
  text-decoration: none;
  padding-bottom: 2%;
  padding-top: 2%;
}
footer .logo {
  font-family: "Shrikhand";
  font-weight: 400;
  margin-left: 8%;
}

.texte-footer {
  margin-left: 8%;
}

.icon-footer {
  margin-right: 5%;
}

.fa-hands-helping {
  font-size: 0.65em;
  transform: rotate(-10deg);
}

a {
  text-decoration: none;
  text-decoration: none;
  color: #fff;
}

#lien-mail-contact {
  margin-left: 8%;
}

button {
  border-radius: 25px;
  background-color: #9356DC;
  background: linear-gradient(#FF79DA, #9356DC);
  padding: 2.5%;
  color: #fff;
  font-family: "Roboto";
  border-style: none;
  margin-bottom: 10%;
}

/*# sourceMappingURL=style.css.map */
