@import "../layout/footer";
@import "../components/buttons";
@import "../utils/mixins";
@import "../base/typography";

img{
    width: 100%;
    object-fit: contain;
    border-radius: 25px 25px 0px 0px;
}
header
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.logo-header {
    margin-top: 5%;
    width: 30%;
    border-radius: 0%;
    }

    img{
        width: 100%;
        object-fit: contain;
        border-radius: 25px 25px 0px 0px;
    }
    
    #logo-header
    {
        border-radius: 0px;
    }
    
    #section-recherche {
        font-size: map-get($font-size,section-recherche);
        @include backgroundmaincolor;
        font-family: 'Roboto';
        text-align: center;
        padding-bottom: 8%;
        h1{
            width: 80%;
            margin-left: 10%;
            font-weight: 900;
        }
    
        .sous-titre
        {
            width: 90%;
            margin-left: 5%;
            font-weight: 200;  
        }
    }
    
    .section-recherche{
        @include backgroundmaincolor($color-deep-grey);
        padding-top: 3%;
        padding-bottom: 3%;
        font-size: map-get($font-size,vignette-menu-nav);
        font-weight:500;
    }
    #section-nav
    {
        font-family: $font-main;
        font-weight:$font-weight;
        margin-top: map-get($margin-top,section);
    }
    h2
    {
        margin-left: map-get($margin-left,h2);
        width: 90%;
    }
    .vignette-menu-nav
    {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content:flex-start;
        width: 80%;
        border-radius: 15px;
        position: relative;
        margin-left: 10%;
        margin-bottom: 5%;
        padding-top: 3%;
        padding-bottom: 3%;
        @include backgroundmaincolor;
        font-size: map-get($font-size,vignette-menu-nav);
    
        .numero-vignette
    {
        position: absolute;
        left: -1rem;
        border-radius: 25px;
        @include backgroundmaincolor($colour-primary);
        padding: 0.4rem 0.7rem 0.4rem 0.7rem;
        color: $colour-white;
        font-size: 0.8em;
    }
    }
    .element-vignette
    {
        margin-left: map-get($margin-left, element-vignette);
        color: grey;
    }
    .texte-vignette
    {
        margin-left: map-get($margin-left, texte-vignette)
    }
    
    
    #section-principale
    {
        font-family: $font-main;
        font-weight: $font-weight;
        @include backgroundmaincolor;
        margin-top: map-get($margin-top, section);
        padding-top: 5%;
        padding-bottom: 5%;
        
    }
    
    .icone-coeur
    {
        outline: aqua 2px solid;
        cursor: pointer;
        background: linear-gradient($colour-secondary,$colour-primary);
        font-size: 1.3em;
        font-weight: 200;
        padding: -1rem;
        }
    
        
    .icone-coeurvide
    {
        color:blueviolet;
        outline: aqua 2px solid;
    }
    
        
    .vignette-article-differentes
    {
        @include backgroundmaincolor($colour-white);
        border-radius: map-get($border-radius , vignette-article-differentes );
        position: relative;
    }
    #photo-plat-restaurant
    {
     width: 100%;
        
    }
    
    .texte-sur-image
    {
        position: absolute;
        top:-2%;
        right: 5%;
        padding: 2%;
        @include backgroundmaincolor($colour-tertiary);
        color:$color-text-nouveau;
    }
    
    
    figure
    {
        @include backgroundmaincolor($colour-white);
        border-radius: map-get($border-radius, figure );
    }
    
    figcaption
    {
        margin-left: map-get($margin-left, h2 );
        width: 85%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .positionnement-text-vignette
    {
        font-weight: $font-weight-normal;
        width: 100%;
        margin-top: 1%;
    }
    h3
    {
        margin-top: 2%;
        margin-bottom: 1%;
    }
