$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary:#99E2D0;
$colour-white: #fff;
$color-deep-grey:#ebebeb;
$color-light-grey:#f6f6f6;
$color-footer:#323232;
$color-text-nouveau:#008864;
$font-size:(section-recherche:1.5rem, vignette-menu-nav:1rem);
$font-logo:'Shrikhand';
$font-main:'Roboto';
$font-weight:900;
$font-weight-normal:400;
$font-weight-light:300;
$margin-left:(element-vignette:10%, texte-vignette:10%, h2:8%, );
$margin-top:(section:10%);
$border-radius:(vignette-article-differentes: 25px, figure:25px)